# LIMPIEZA DE BASE DE DATOS DE PADS

In [ ]:
import pandas as pd
import numpy as np

In [11]:
marzo23 = pd.read_excel('/Users/martincarrasco/Desktop/Martín_Carrasco/Gestión PADS y Brand ADS/PADS MENSUALES/PADS MENSUALES 2025-07.xlsx', sheet_name = 'MARZO 23')

marzo23 = marzo23.dropna(how = 'all').dropna(how = 'all', axis = 1)

marzo23

,RDS1,BLACKPARTS,RDS3,TRIANA,REICARS,MERCADO REPUESTOS,BICISOL,TOTALES
1,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad
2,566,129,120,252,143,269,128,1607
4,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad
5,336,96,228,201,255,153,94,1363
7,Clics,Clics,Clics,Clics,Clics,Clics,Clics,Clics
8,8990,3458,2874,5157,3022,5772,3023,32296
10,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones
11,6783486,2624886,1885139,3906754,2138525,2016203,766810,20121803
13,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos
14,28507260,18685124,5923211,10121280,6749266,11753632,6377432,88117205
16,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión
17,1879137,1145593,405704,678125,544786,803262,472530,5929137
19,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS
20,0.0659,0.0613,0.0685,0.067,0.0807,0.0683,0.0741,0.0694

In [12]:
metricas = marzo23.iloc[::2].reset_index(drop=True)
valores = marzo23.iloc[1::2].reset_index(drop=True)

In [13]:
print(metricas.columns)
print(valores.columns)

Index(['RDS1', 'BLACKPARTS', 'RDS3', 'TRIANA', 'REICARS', 'MERCADO REPUESTOS',
       'BICISOL', 'TOTALES'],
      dtype='object')
Index(['RDS1', 'BLACKPARTS', 'RDS3', 'TRIANA', 'REICARS', 'MERCADO REPUESTOS',
       'BICISOL', 'TOTALES'],
      dtype='object')

In [14]:
valores['MÉTRICA'] = metricas['TOTALES']
valores.rename(columns = {'TOTALES': 'CONSOLIDADO'}, inplace = True)
valores

,RDS1,BLACKPARTS,RDS3,TRIANA,REICARS,MERCADO REPUESTOS,BICISOL,CONSOLIDADO,MÉTRICA
0,566,129,120,252,143,269,128,1607,Ventas por publicidad
1,336,96,228,201,255,153,94,1363,Ventas sin publicidad
2,8990,3458,2874,5157,3022,5772,3023,32296,Clics
3,6783486,2624886,1885139,3906754,2138525,2016203,766810,20121803,Impresiones
4,28507260,18685124,5923211,10121280,6749266,11753632,6377432,88117205,Ingresos
5,1879137,1145593,405704,678125,544786,803262,472530,5929137,Inversión
6,0.0659,0.0613,0.0685,0.067,0.0807,0.0683,0.0741,0.0694,ACOS

In [15]:
valores_long = valores.melt(
    id_vars="MÉTRICA",
    var_name="Cuenta Meli",
    value_name="Valor"
)

In [ ]:
valores_final = valores_long.pivot(
    index="Cuenta Meli",
    columns="MÉTRICA",
    values="Valor"
).reset_index()

valores_final.columns.name = None
valores_final

,Cuenta Meli,ACOS,Clics,Impresiones,Ingresos,Inversión,Ventas por publicidad,Ventas sin publicidad
0,BICISOL,0.0741,3023,766810,6377432,472530,128,94
1,BLACKPARTS,0.0613,3458,2624886,18685124,1145593,129,96
2,CONSOLIDADO,0.0694,32296,20121803,88117205,5929137,1607,1363
3,MERCADO REPUESTOS,0.0683,5772,2016203,11753632,803262,269,153
4,RDS1,0.0659,8990,6783486,28507260,1879137,566,336
5,RDS3,0.0685,2874,1885139,5923211,405704,120,228
6,REICARS,0.0807,3022,2138525,6749266,544786,143,255
7,TRIANA,0.067,5157,3906754,10121280,678125,252,201

In [24]:
abril25 = pd.read_excel('/Users/martincarrasco/Desktop/Martín_Carrasco/Gestión PADS y Brand ADS/PADS MENSUALES/PADS MENSUALES 2025-07.xlsx', sheet_name = 'ABRIL 25', skiprows = 2)


abril25 = abril25.dropna(how = 'all').dropna(how = 'all', axis = 1).reset_index(drop = True)
abril25 = abril25.iloc[0:14, :]
abril25

,RDS1,BLACKPARTS,RDS3,TRIANA,REICARS,MERCADO REPUESTOS,BICISOL,INDUSOL,NEUMASOL,TOTALES
0,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad,Ventas por publicidad
1,999,218,173,197,330,282,302,51,38,2590
2,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad,Ventas sin publicidad
3,529,73,79,136,142,111,147,41,17,1275
4,Clics,Clics,Clics,Clics,Clics,Clics,Clics,Clics,Clics,Clics
5,17063,7807,4313,3272,6272,7643,7543,2146,1139,57198
6,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones,Impresiones
7,8286561,3578842,2306607,1448793,2433230,4154914,3216237,1256582,378873,27060639
8,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos,Ingresos
9,39652215,21130344,7572794,5307282,13555702,8117631,11630553,2777499,4319393,114063413
10,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión,Inversión
11,4837938,2128061,829041,635046,1084927,1274620,1051827,372613,372860,12586933
12,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS,ACOS
13,0.122,0.1007,0.1095,0.1197,0.08,0.157,0.0904,0.1342,0.0863,0.111089

In [25]:
metricas = abril25.iloc[::2].reset_index(drop=True)
valores = abril25.iloc[1::2].reset_index(drop=True)

In [26]:
print(metricas.columns)
print(valores.columns)

Index(['RDS1', 'BLACKPARTS', 'RDS3', 'TRIANA', 'REICARS', 'MERCADO REPUESTOS',
       'BICISOL', 'INDUSOL', 'NEUMASOL', 'TOTALES'],
      dtype='object')
Index(['RDS1', 'BLACKPARTS', 'RDS3', 'TRIANA', 'REICARS', 'MERCADO REPUESTOS',
       'BICISOL', 'INDUSOL', 'NEUMASOL', 'TOTALES'],
      dtype='object')

In [27]:
valores['MÉTRICA'] = metricas['TOTALES']
valores.rename(columns = {'TOTALES': 'CONSOLIDADO'}, inplace = True)
valores

,RDS1,BLACKPARTS,RDS3,TRIANA,REICARS,MERCADO REPUESTOS,BICISOL,INDUSOL,NEUMASOL,CONSOLIDADO,MÉTRICA
0,999,218,173,197,330,282,302,51,38,2590,Ventas por publicidad
1,529,73,79,136,142,111,147,41,17,1275,Ventas sin publicidad
2,17063,7807,4313,3272,6272,7643,7543,2146,1139,57198,Clics
3,8286561,3578842,2306607,1448793,2433230,4154914,3216237,1256582,378873,27060639,Impresiones
4,39652215,21130344,7572794,5307282,13555702,8117631,11630553,2777499,4319393,114063413,Ingresos
5,4837938,2128061,829041,635046,1084927,1274620,1051827,372613,372860,12586933,Inversión
6,0.122,0.1007,0.1095,0.1197,0.08,0.157,0.0904,0.1342,0.0863,0.111089,ACOS

In [28]:
valores_long = valores.melt(
    id_vars="MÉTRICA",
    var_name="Cuenta Meli",
    value_name="Valor"
)

In [29]:
valores_final = valores_long.pivot(
    index="Cuenta Meli",
    columns="MÉTRICA",
    values="Valor"
).reset_index()

valores_final.columns.name = None
valores_final

,Cuenta Meli,ACOS,Clics,Impresiones,Ingresos,Inversión,Ventas por publicidad,Ventas sin publicidad
0,BICISOL,0.0904,7543,3216237,11630553,1051827,302,147
1,BLACKPARTS,0.1007,7807,3578842,21130344,2128061,218,73
2,CONSOLIDADO,0.111089,57198,27060639,114063413,12586933,2590,1275
3,INDUSOL,0.1342,2146,1256582,2777499,372613,51,41
4,MERCADO REPUESTOS,0.157,7643,4154914,8117631,1274620,282,111
5,NEUMASOL,0.0863,1139,378873,4319393,372860,38,17
6,RDS1,0.122,17063,8286561,39652215,4837938,999,529
7,RDS3,0.1095,4313,2306607,7572794,829041,173,79
8,REICARS,0.08,6272,2433230,13555702,1084927,330,142
9,TRIANA,0.1197,3272,1448793,5307282,635046,197,136